html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}

.small-button {
  width: 20px;
  height: 20px;
}

body {
  margin: 0px;
}

.sidebar {
        grid-area: sidebar;
    }

    .sidebar2 {
        grid-area: sidebar2;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper {
        background-color: #fff;
        color: #444;
    }

  .wrapper {
    display: grid;
    grid-gap: 0em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

    @media only screen and (min-width: 500px)  {
        .wrapper {
            grid-template-columns: 20% auto;
            grid-template-areas:
            "header   header"
            "sidebar  content"
            "sidebar2 sidebar2"
            "footer   footer";
        }
    }

    @media only screen and (min-width: 600px)   {
        .wrapper {
            grid-gap: 0px;
            grid-template-columns: auto 700px auto;
            grid-template-areas:
            "header  header  header"
            "sidebar content sidebar2"
            "footer  footer  footer";
            max-width: 100%;
        }
    }

.box {
  //background-color: #444;
  //color: #fff;
  //border-radius: 5px;
  //padding: 10px;
  font-size: 150%; 
}

.header{
    //background-color: rgb(148, 245, 239);
    height: 60px;
}

.footer {
  //background-color: #ccc;
  min-height: 20px;
}

.content {
  //background-color: #ccc;
}

.sidebar {
  //background-color: #ccc;
  //color: #444;
}

.sidebar2 {
  //background-color: #ccc;
  //color: #444;
}


.post-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
}