.nav-bar-wrapper{
  display: grid;
  height: 100%;
  grid-template-columns: 30% 40% 10% 10% 10%;
  grid-auto-rows: 60px;
  background-color: coral;
}

.title-logo {
  text-decoration: none;
}

.navbar-title-container{
  //background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-container{
  background-color: rgb(240, 248, 255);
  //Making sure searchbar doesn't overflow
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  //Make dropdown box appear over everything else
  position: relative;
}

.post-button-container{
  //background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-button-container{
  //background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-container{
  //background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

