@import "main";

.post-wrapper-child {
  display: grid;
  min-width: 700px;
  font-family:'Roboto';
  //grid-auto-columns: 500px;
  //grid-template-rows: 30% 40% 10% 10% 10%;
  grid-template-areas:
  "a a a a a a a a"
  "b b b b b b b c"
  "f f f f f f f f"
  "d d d d d d d d"
  "e e e e e e e e";
  margin-top: 20px;
  border: 2px solid rgb(238, 250, 250);
  //box-shadow: 3px 3px;
}

img {
  max-width: 100%;
}

.post-picture-wrapper {
  //background-color: red;
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-bottom: 2px solid rgb(238, 250, 250);
}

.author-container {
  //background-color: grey;
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  //padding-bottom: 20px;
}

.likes-container {
  //background-color: grey;
  grid-area: c;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
}

.comments-box-container {
  //background-color: grey;
  //padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  grid-area: d;
  padding-top: 5px;
}

.submit-comment {
  //background-color: pink;
  grid-area: e;
}

.post-description-container {
  //background-color: grey;
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(238, 250, 250);
}

.comment-form {
  //background-color: grey;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
//nightmode color for post
.nightmode-post {
  background-color: grey;
}
//styling for buttons
.post-comment-button {
  margin-right: 20px;
}

.comment-inputbox {
  margin-left: 20px;
}

.comment-inputbox-textarea {
  resize: none;
}
//styling for texts, title
.author-name {
  text-decoration: none;
  color: rgb(68, 185, 196);
}

.post-hashtags {
  color: rgb(68, 185, 196);
}

.post-description {
  opacity: 0.6;
  color: black;
}

.star {
  font-size: 2em;
}
